@font-face {
    font-family: "Jacquard 12";
    src: url("./Jacquard12-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Funnel Display Light";
    src: url("./FunnelDisplay-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* === Allgemein === */
body {
    /*font-family: 'Segoe UI', sans-serif;*/
    background: #000;
    margin: 0;
    padding: 2rem;
    line-height: 1.6;
    color: #000;
    height: 100%;
}

h1 {
    font-family: "Jacquard 12", sans-serif;
    justify-content: center;
    font-size: clamp(2rem, 4vw, 3.5rem);
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    color: #f8f7fa;
}

h2 {
    font-family: "Funnel Display Light", sans-serif;
    font-weight: lighter;
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    color: #000;
    margin-top: 1.5rem;
    word-break: break-all;
}

p {
    word-break: break-word;
}

/* === Eingaben & Buttons === */
button {
    font-family: "Funnel Display Light", sans-serif;
    font-size: 1rem;
    padding: max(0.6rem);
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000;
    color: #fff;
}

/* === Feedback & Detailbereich === */
#karte, #karte2, #karte3, #karte4 {
    font-family: "Funnel Display Light", sans-serif;
    background-color: #fff;
    padding: max(1rem);
    border: 1px dashed #aaa;
    margin-top: max(1rem);
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

#items {
    font-family: "Segoe UI", sans-serif;
    background-color: rgb(207, 207, 207);
    padding: 1rem;
    border: 1px dashed #aaa;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

/* === Responsive Basics === */
@media (max-width: 600px) {
    body {
        padding: 1rem;
    }

    input[type="text"], button {
        width: 100%;
    }
}


.particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    overflow: hidden;
    pointer-events: none;
}

.particle {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}

html {
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-magic' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 2.672a.5.5 0 1 0 1 0V.843a.5.5 0 0 0-1 0zm4.5.035A.5.5 0 0 0 13.293 2L12 3.293a.5.5 0 1 0 .707.707zM7.293 4A.5.5 0 1 0 8 3.293L6.707 2A.5.5 0 0 0 6 2.707zm-.621 2.5a.5.5 0 1 0 0-1H4.843a.5.5 0 1 0 0 1zm8.485 0a.5.5 0 1 0 0-1h-1.829a.5.5 0 0 0 0 1zM13.293 10A.5.5 0 1 0 14 9.293L12.707 8a.5.5 0 1 0-.707.707zM9.5 11.157a.5.5 0 0 0 1 0V9.328a.5.5 0 0 0-1 0zm1.854-5.097a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L8.646 5.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0l1.293-1.293Zm-3 3a.5.5 0 0 0 0-.706l-.708-.708a.5.5 0 0 0-.707 0L.646 13.94a.5.5 0 0 0 0 .707l.708.708a.5.5 0 0 0 .707 0z'/%3E%3C/svg%3E") 16 0, auto;
}

body {
    animation-name: fade-in-top;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;

}
@keyframes fade-in-top {

    0% {
        transform:translateY(-50px);
        opacity:0;
    }
    100% {
        transform:translateY(0);
        opacity:1;
    }
}




